* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dropdown:active>.dropdown-menu {
  display: block;
}
.container {
  max-width: 85%;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.nav-bg {
  background-color: rgba(34, 34, 34, 0.4);
  z-index: 1;
  width: 100%;
}

.banner-img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}


.movie_hover {
  position: absolute;
  opacity: 0;
}


.movie_item:hover .movie_hover {
  position: absolute;
  bottom: 0;
  background: #fff;
  opacity: 0.8;
  text-align: center;
  width: 100%;
  /* overflow: hidden; */
  transition: .5s ease;
}

.bg-black {
  background-color: #000;
}

.movie_item:hover .movie-img {
  opacity: 0.7;
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}

.movie-img {
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
}

.movie_item {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  color: white !important;
  background-color: #ea4335;
}

.btn-facebook {
  color: white !important;
  background-color: #3b5998;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*-------------------------------- END ----*/
    #body-row {
        margin-left: 0;
        margin-right: 0;
    }

    #sidebar-container {
        min-height: 100vh;
        background-color: #132644;
        padding: 0;
        /* flex: unset; */
    }
    
    .sidebar-expanded {
        width: 230px;
    }
    
    .sidebar-collapsed {
        /*width: 60px;*/
        width: 100px;
    }

    /* ----------| Menu item*/    
    #sidebar-container .list-group a {
        height: 50px;
        color: white;
    }

    /* ----------| Submenu item*/    
    #sidebar-container .list-group li.list-group-item {
        background-color: #132644;
    }
    
    #sidebar-container .list-group .sidebar-submenu a {
        height: 45px;
        padding-left: 30px;
    }
    
    .sidebar-submenu {
        font-size: 0.9rem;
    }

    /* ----------| Separators */    
    .sidebar-separator-title {
        background-color: #132644;
        height: 35px;
    }
    
    .sidebar-separator {
        background-color: #132644;
        height: 25px;
    }
    
    .logo-separator {
        background-color: #132644;
        height: 60px;
    }
    
    a.bg-dark {
        background-color: #132644 !important;
    }
